{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>{% block title %} {% endblock title%}</title>
</head>
<body>
    <header>
        <div class="nav-left">

            <h1> <a href="/"> Home</a> </h1>
        </div>
        <div class="nav-right">
            <h1> <a href="{% url 'new-post' %}"> Novo Post</a> </h1>

        </div>
    </header>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>

</body>
</html>