{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Contato {% endblock title %}
{% load static %}

{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/contact-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Entre em contato conosco</h1>
            <span class="subheading">Envie sua pergunta para nós.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header%}
{% block content %}


  <!-- Main Content -->
  <div class="container">
    <div class="row">
          {% if success %}
            <div id="success">
              E-mail enviado com sucesso!
            </div>
          {% endif %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {{form|bootstrap}}
          <br>

          <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}