{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% load static %}
{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Blog Saúde Mental </h2>
            <span class="subheading">Grupo de Trabalho</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header%}
{% block content %}

    {% for post in object_list %}
        <div class="post-preview">
          <a href="{{post.get_absolute_url_detail}}">
            <h2 class="post-title">
              {{post.titulo}}
            </h2>
            <h3 class="post-subtitle">
              {{post.conteudo|safe}}
            </h3>
          </a>
          <p class="post-meta">Postado por
            <strong>
                <a href="{{post.get_absolute_url_update}}">{{post.autor}}</a>
            </strong>
            {{post.publicado|date:"d M Y"}}</p>
        </div>
        <hr>
    {% endfor %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
{% endblock content %}

