{% extends 'base.html' %}
{% load static %}
{% block title %} Detalhe da Postagem {% endblock title %}
{% block header %}
{% if object.imagem %}
  <header class="masthead" style="background-image: url({{ object.imagem.url }})">
{% else %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>{{object.titulo}} </h2>
<!--            <span class="subheading">Grupo de Trabalho</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header%}
{% block content %}




    <div class="post-entry">
        <h2>  {{object.titulo}} </h2>
        <p>{{object.conteudo|safe}} </p>
    </div>
    {% if request.user.is_authenticated %}
    <div class="card">
      <div class="card-body">
        <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary ">Editar</a>
        <a href="{{ object.get_absolute_url_delete }}" class="btn btn-danger ">Delete</a>
      </div>
    </div>
    {% endif %}

{% endblock content %}

